html{
    width: 100%;
    height: 100%;
}
body{
    background-color: #FF0;
    font-family: verdana,arial,sans-serif;
    border-top: 20px solid #000080;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #000;
}
#centerPopup {
    background-color:#FF0;
    border-radius: 5px;
    box-shadow: 0px 10px 5px -10px #C38712;
    display: none;
    left: 5%;
    padding: 5px;
    position: absolute;
    top: 18%;
    width: 90%;
    z-index: 1000;
}
.closeDiv {
    float: right;
    margin-top: -5px;
}
#centerPopupInner {
    height: 350px;
    overflow-y: scroll;
}
.currenDate {
    border-bottom: 1px solid #F30;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0px 5px 11px;
}
.centerPopupinput {
    border-radius: 1px;
    margin: 1px;
    text-align: center;
}
input[type="text"]{border: medium none;text-align: center}
.currentBalance{text-align: center;font-size:14px;line-height: 24px;}

.logininfo img{height: 40px}
#yantra_list{background: #0ef;padding-top: 10px}
.yantra_list li{float: left;width: 50%;text-align: center;position:relative}
.yantra_list li img{height: 150px;}
.yantra_list li input {
    margin: 5px auto auto;
    width: 70px;
}
.c-btn{float: left;width: 66.666%}
.c-btn .g-left{float: left;width: 70%;margin-top: 20px}
.c-btn .g-right{float: right;margin-top: 20px;margin-right: 10px}
.footer input[type="button"]{width: 100%;margin: 7px 0px;display: block}
.footer input[type="text"]{padding: 6px 12px;width: 100%;margin: 7px 0px;display: block}
.form-control.test1[readonly]{background: #f0ad4e}
.form-control.test2[readonly]{background: #5cb85c}
.extra-btn{margin: 10px auto;text-align: center}
#buy{border-radius: 50%;padding: 8px 5px}
.y-content{background: #D20E10}
.yantra_content li{float: left;width: 16.6667%;border: 2px solid #000}
.yantra_content li::after{clear: both}
.y-c-text.l{width: 30%;float: left;text-align: center;padding: 23% 5px;border-right: 2px solid #000}
.y-c-text.t{width: 100%;text-align: center;border-bottom: 2px solid #000;padding: 5px 0;position: relative;line-height:2px}
.y-c-img.r{width: 70%;float: right;padding: 2px}
.y-c-img.b{width: 50%;float: left;padding: 5px}
.br{border-left: 2px solid #000}
.bgr{background: #D20E10}
.bgy{background: #FF0}
.sbgy{background: #FF0;width: 25%;padding: 19px 25px;}
.sbgy.r{position: absolute;right: 0;top: 0;}
.sbgy.l{position: absolute;left: 0;top: 0;}
@media screen and (max-width:767px){
    .yantra_list li{float: left;width: 33.333%;text-align: center;cursor: pointer}
    .yantra_list li img{height: 100px;}
    .yantra_list li input {
        width: 70px;
    }
    .yantra_list li .form-group {
        position: absolute;top: 35%;left: calc(50% - 35px);display: none;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 20px;
        padding: 2px 5px;
        font-size: 14px;
        line-height: 1.42857;
    }
    .yantra_content li{float: left;width: 50%;border: 2px solid #000}
    .y-c-text.l{width: 40%;float: left;text-align: center;padding: 14% 5px;border-right: 2px solid #000}
    .y-c-img.r{width: 60%;float: right;padding: 2px}
    .sbgy{background: #FF0;width: 5%;padding: 19px 15px;}
    .footer .form-group{display: inline-block;width: 50%;float: left;}
    .footer input[type="text"]{padding: 15px 12px;width: 90%;margin: 7px 5px;display: block}
    .barcodetext{width: 50%;display:inline-block;float: left;padding: 10px}
}
@media screen and (max-width:640px){
    .yantra_content li{min-height:188px}
	.y-c-text.l { height:184px;}
}

@media screen and (max-width:480px){
    .footer input[type="button"]{width: 100%;display: block;float: left;font-size: 10px}
    .sbgy{background: #FF0;width: 25%;padding: 6px 15px;}
    .y-c-text.l{width: 40%;float: left;text-align: center;padding: 25% 5px;border-right: 2px solid #000}
	.yantra_content li{min-height:139px}
	.y-c-text.l { height:135px;}
}
@media screen and (max-width:360px){
    
	.yantra_content li{min-height:102px}
	.y-c-text.l { height:98px;}
}
@media screen and (max-width:320px){
    .y-c-text.l{width: 40%;float: left;text-align: center;padding: 12.5% 5px;border-right: 2px solid #000}
    #yantra_list{background: #0ef;padding-top: 10px}
    .yantra_list li img{height: 90px;}
	.yantra_content li{min-height:90px}
	.y-c-text.l { height:86px;}
}